.home{
  display: flex ;
   flex-direction:column;
}
.main{
  display: flex;
  /* flex-direction:column; */
  height: calc(100vh - 50px);

  background-color: #EEF1F6;
  justify-content:center;

}

.navbar_left{
  
}














