/* .container{
    position: relative;
    width: 200px;
    background-color: red;
} */

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-size: 19px; */
    background-color: #F7F7F7;
    /* background-color: #6b3434; */
    padding:0px 65px;
    border-radius: 10px;
    height: 230px;
    font-family: "Poppins",sans-serif;
    margin-left: 20px;
    font-size: 15px;
    min-width: 249px;
   
   
}

.title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #212529;
    cursor: pointer;
    /* margin-top: -20px; */
    font-size: 15px;
   
}

.category{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #252629;
    cursor: pointer;
    margin-top: -10px;
    font-size: 10px;
}

.price{
    color: red;
    /* margin-top: 30px; */
}


.image{
    margin-top: 10px;
}
























